# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
record/
saved_features/
4class_hmdb51_tensorboard/
51HMDB51_tensorboard/
CAM_result/
Conv_51HMDB51_tensorboard/
spa_features/
saved_weights/
new_tensorboard_log/
runs/
tensorboard_log/

